<div class="{% spaceless %}{% block block_classes %}{% endblock block_classes %}{% endspaceless %}">
    <div class="panel panel-default blast-dashboard-block">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% block title %}{% endblock title %}
            </h3>
        </div>
        <div class="panel-body">
            {% block content %}{% endblock content %}
        </div>
        {% block graphScripts %}{% endblock graphScripts %}
    </div>
</div>
