.sonata-ba-list-field-actions .btn-group .btn { font-size: 0; }
.sonata-ba-list-field-actions .btn-group .btn > * { font-size: 15px; }

/* Sortable lists */
.sonata-ba-list .ui-sortable .sortable-handle {
    cursor: move;
    width: 40px;
}
.table > thead > tr > th.sonata-ba-list-field-header-sort_rank,
.table > tbody > tr > td.sonata-ba-list-field-sort_rank {
    display: none;
}
