.sonata-ba-field .select2-container { width: 100%; }
.sonata-ba-field .sonata-medium-date > :first-child { width: 300px; }
.sonata-ba-field .sonata-medium-date > :first-child + * { width: 200px; }
.sonata-ba-field .sonata-medium-date .select2-container { width: 30% !important; float: none; }
.sonata-ba-field .sonata-medium-date > :first-child + * .select2-container { width: 45% !important; }

ul.listing-role { list-style-type: none; padding: 0; }
ul.listing-role .glyphicon-asterisk { color: #3C8DBC; vertical-align: middle; }
ul.listing-role .glyphicon-asterisk.admin { color: red; }

