<div class="panel panel-default librinfo-dashboard-block">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% block title %}{% endblock title %}
        </h3>
    </div>
    <div class="panel-body">
        {% block content %}{% endblock content %}
    </div>
    {% block graphScripts %}{% endblock graphScripts %}
</div>
